<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="css/default.css">
    <title>Taquilla</title>
</head>
<body>
    <div class="container sector1">
        <div class="sector2">
            <div class="titulo1">conocé sobre el protocolo vigente para espectáculos presenciales</div>
        </div>
    </div>
    <div class="sector3">
            <div class="ingresar">
                <button class="buttonText">
                    <div class=""><img class="icon" src="img/usuario1.png" alt=""></div>
                    <div class="">ingresar</div> 
                </button>
            </div>
            <div class="ContenedorLogo">
            <div class="imgLogo">
                <img src="img/taquillaNet.png" alt="No pudo cargar imagen">
            </div>
            </div>
        </div>
    </div>

    {{{body}}}
</body>
</html>