<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/loginstyle.css">

</head>
<body>
   
    <div class="textotitulo"> <b>Iniciá sesión</b> con tu cuenta:</div><br>
    
    <div class="separador1"></div>
    <div class="cuadro"> 
        <form  action="/login" method="POST">
        <div class="text">Email: </div>
        <div class="padding"><input type="text" class="campo" id="mail" name="mail" placeholder="Ingresá tu email"></div>
        
        <div class="text2">Contraseña: </div>
        <div class="padding"><input type="password" class="campo" id="password" name="password" placeholder="*************"></div>
        
        
        <div class="padding"><button type="submit" class="boton ingreso">Ingresar</button></div><br>
        <div class="text3">¿No tenés una cuenta? <a href="signup" class="regis" >Registrate</a></div></form>
    </div>
    <div class="separador2"></div>
        
  
</body>
</html>

