<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/loginstyle.css">

</head>
<body>
    
    <div class="textotitulo"> <b>Iniciá sesión</b> con tu cuenta:</div><br>
    <div class="contenedorLogin">
    <div class="cuadro">
        <div class="text">Email: </div>
        <div class="padding"><input type="text" class="campo" placeholder="Ingresá tu email"></div>
        
        <div class="text2">Contraseña: </div>
        <div class="padding"><input type="password" class="campo" placeholder="*************"></div>
        
        
        <div class="padding"><button class="boton ingreso">Ingresar</button></div><br>
        <div class="text3">¿No tenés una cuenta? <a href="http://localhost:4600/signup" class="regis" >Registrate</a></div>
        </div>
    </div>
</body>
</html>