<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/payment.css">
</head>
<body>
     <div class="atras"><a href="http://localhost:4600/home">Volver atrás</a></div><br>
    <div class="container cuadro2">
       
        

        <div class="cuadro">
        <div><table class="tabla">
            <td><img class="imagen" src="img/iorioprueba.png" alt="No pudo cargar imagen"></td>
            <td><div class="desc"> <b>Iorio EN VIVO: Avivando la Llama de la Ley Natural</div></b></td>
            </table>
        </div>
      
        <hr>
        <table>
        <tr>
        <td><div class="text">Cantidad de entradas: </div>
        <div class="padding"><select name="cantidad" class="campo">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        </select></div>
        
        
        <div class="text2">Día: </div>
        <div class="padding"><select name="fecha" class="campo">
        <option>Viernes, 26 de Agosto</option>
        <option>Lunes, 29 de Agosto</option>
        <option>Jueves, 2 de Septiembre</option>
        </select></div>
        </td>
        

        <td>
        <div class="text">Sector: </div>
        <div class="padding"><select name="cantidad" class="campo">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        </select></div>
        
        <div class="text2">Horario: </div>
        <div class="padding"><select name="cantidad" class="campo">
        <option>17:00hrs</option>
        <option>19:30hrs</option>
        <option>22:00hrs</option>
        </select></div>
        </td>
        </tr>
        </table>
        <div class="desc2"><b>Importe total:</b> $1200</div>
        <div class="padding2"><button class="boton ingreso">Comprar<br>entradas</button></div>
        </div>
    </div>

    


        
        
</body>
</html>