<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/signupstyle.css">
</head>
<body>
    <div class="textotitulo"> Hola, <b>[Usuario]</b> </div><br>
<div class="contenedorPerfil">
    <div class="textoTitulo2">Bienvenido a tu cuenta, esta es tu información:</div>
    <div class="container cuadro2">
       
        <div class="cuadro">
        <table>
        <tr>
        <td><div class="text">Usuario: </div>
        <div class="padding"><input type="text" class="campo" placeholder="Juan Perez"></div>
        
        
        <div class="text2">Fecha de nacimiento: </div>
        <div class="padding"><input type="date" class="campo" placeholder="26/09/1997"></div>
        
        
        <div class="text">Localidad: </div>
        <div class="padding"><input type="text" class="campo" ></div>
        
        
        <div class="text2">Teléfono: </div>
        <div class="padding"><input type="text" class="campo" placeholder="1234567890"></div></td>
        

        <td>
        <div class="text">Documento: </div>
        <div class="padding"><input type="text" class="campo" placeholder="43215648"></div>
        
        <div class="text2">País de residencia: </div>
        <div class="padding"><input type="text" class="campo" ></div>
        <div class="text">Email: </div>
        <div class="padding"><input type="email" class="campo" placeholder="Ingresá tu email"></div>
        
        <div class="text2">Contraseña: </div>
        <div class="padding"><input type="password" class="campo" placeholder="**************"></div></td>
        </tr>
        </table>
        </div>
    </div>
</div>
    <div class="padding2"><button onclick="window.location='/home'" class="boton ingreso sub">Aceptar</button></div><br>


        
        
</body>
</html>