<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/signupstyle.css">
</head>
<body>
     <div class="textotitulo"> <b>Registrate</b> ingresando los siguientes datos:</div><br>
    <div class="container cuadro">
        <table>
        <tr>
        <td><div class="text">Usuario: </div>
        <div class="padding"><input type="text" class="campo" placeholder="Ingresá tu nombre de usuario"></div>
        
        
        <div class="text2">Fecha de nacimiento: </div>
        <div class="padding"><input type="date" class="campo"></div>
        
        
        <div class="text">Localidad: </div>
        <div class="padding"><input type="text" class="campo" ></div>
        
        
        <div class="text2">Teléfono: </div>
        <div class="padding"><input type="text" class="campo" placeholder="Ingresá tu número de telefono"></div></td>
        

        <td>
        <div class="text">Documento: </div>
        <div class="padding"><input type="text" class="campo" placeholder="Ingresá tu número de documento"></div>
        
        <div class="text2">País de residencia: </div>
        <div class="padding"><input type="text" class="campo" ></div>
        <div class="text">Email: </div>
        <div class="padding"><input type="email" class="campo" placeholder="Ingresá tu email"></div>
        
        <div class="text2">Contraseña: </div>
        <div class="padding"><input type="password" class="campo" placeholder="**************"></div></td>
        </tr>
        </table>
    </div>

    <div class="padding2"><button class="boton ingreso">Registrarme</button></div><br>


        
        
</body>
</html>