body{
    /* Group 320 */





background-color: #F4F4F4;

}

.containerSignup{
    padding-left: 25%;
    padding-top: 100px;
}

.cuadro{


height: 700px;
width: 1170px;
left: 0px;
top: 0px;
border-radius: 0px;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Whit */
background: #FFFFFF;
border: 1px solid #FFFFFF;
box-sizing: border-box;
/* sombra card */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}


.textotitulo{
    /* Iniciá sesión con tu cuenta: */
padding-top:3%;
padding-left: 25%;
position: static;
left: 0px;
top: 0px;

/* H4-25px */

font-family: Poppins;
font-style: normal;
font-size: 25px;
line-height: 123.6%;
/* or 31px */


/* Black */

color: #373737;
}

.text{
    position: static;
    width: 221px;
    height: 23px;
    border-radius: nullpx;
    padding-top: 19.05px;
    padding-left: 25px;
    
    
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
  
    
    
    
    /* Black */
    
    color: #373737;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
    }
    
    .padding{
        padding-left: 25px;
      
        padding-right: 26px;
    }
    
    
    .campo{
    height: 48px;
    width: 100%;
    left: 0px;
    top: 45px;
    border-radius: 1px;
    padding-left: 12px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150.6%;
    /* identical to box height, or 24px */
    background: #F4F4F4;
    border-radius: 0px;
    border-color: #7B7B7B;
    border-style: unset; 
    
    
    
    /* Gris */
    
    color: #7B7B7B;
    
    }

    .cuadro2{
        padding-left: 25%;
    }
    .textoTitulo2{
       
        
        border-radius: nullpx;
        padding-top: 19.05px;
        padding-left: 25%;
        padding-bottom: 1%;
        
        
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
      

        /* Black */
        
        color: #373737;  
        /* Inside Auto Layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 8px;
    }
    
    .text2{
        position: static;
        width: 221px;
        height: 23px;
        border-radius: nullpx;
        padding-top: 19.05px;
        
        
        
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
    
        
        
        
        /* Black */
        
        color: #373737;
        
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 8px;
        }
    
    
        .boton{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 22px;
    border-style: hidden;
    
    width: 225px;
    height: 43px;
    left: calc(50% - 530px/2 - 1px);
    top: calc(50% - 43px/2 + 92.5px);
    
    
    background:#ED1604;
    ;
        }
        .ingreso{
            font-family: Poppins;
            font-size: 16px;
            font-weight: 600;
            font-style: normal;
            line-height: 20px;
            letter-spacing: 0.1em;
            text-align: center;
                color: #FFFFFF;
            }

.padding2{
    padding-left: 64.1%;
    padding-top: 22px;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }



@media (max-width: 480px) {
    
    body{
        width: 100%;
    }
    
    .textotitulo{
     padding-left: 10%;
     font-size: 18px;
    padding-top: 10%;
    padding-bottom: 10%;
    }

    .containerSignup{
        padding-left: 0%;
        padding-top: 0%;
    }

    .cuadro{
        height: 1200px;
    }
    .padding2{
        padding-left: 7%;
        padding-right: 0%;
    }
    .button{
        text-align: center;
    }


} 